/*This is the Style sheet for my website*/
/*Youtube video width is 500px on PC and 240px on mobile btw*/

/*Yes I know this is bad programing desgin and style but I dont care to make an indent for every { or } */
@font-face {font-family: "alkaline-regular";src: url(../Webpage_Fonts/alkaline-regular-1.otf);}
@font-face{font-family: "alkaline-caps-demi";src: url(../Webpage_Fonts/alkaline-caps-demi.otf);}
@font-face{font-family: "new-roman-regular";src: url(../Webpage_Fonts/Code\ New\ Roman.otf);}
@font-face{font-family: "new-roman-bold";src: url(../Webpage_Fonts/Code\ New\ Roman\ b.otf);}
@font-face{font-family: "unispace-regular";src: url(../Webpage_Fonts/Unispace\ Rg.otf);}
@font-face{font-family: "unispace-bold";src: url(../Webpage_Fonts/Unispace\ Bd.otf);}

#font_unispace-bold{
    font-family: "unispace-bold";
}
#font_unispace-regular{
    font-family: "unispace-regular";
}
#font_alkaline-caps-demi{
    font-family: "alkaline-caps-demi";
}
#new-roman-regular{
    font-family: "new-roman-regular";
}
#font-new-roman-bold{
    font-family: "new-roman-bold";
}


/*to fix weird margin and make everything flush in webpage :D*/
*{
    margin: 0%;
}

/*background repeating image*/
.Main_body{
    background-image: url('../Personal_Website_Repeating_Background.png');
    background-size: 15%;
    height: 100%;
}

/*Webpage Banner Properties*/
.Webpage_Banner{
    grid-area: 1/1/1/4 ;
    height: 216px; 
    width: 100%; 
    background-image: url("../Works_Webpage/Animation_Works/Personal_Website_Banner.png");
    margin: 0%;
    padding: 0%;

    
}
/*============================================================================================================*/
/*Navigation bar Properties*/
.navigation_bar{
    grid-area: 2/1/2/4;
    z-index: 2;
    border: solid #ff8847;
    border-width: 4px;
    border-radius: 15px;
    background-color: #0f4b4d;
    margin-bottom: 5%;
    height: 50px;

    position: sticky;
    top: 0px;
}
.navigation_bar_GridOrganizer{
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    
}
.navigation_bar_content{
    grid-area: 1/2;
    height: 100%;
    width: 500px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.web_nav_links{
    text-decoration:none;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: ridge #0f4b4d;
    border-radius: 10rem;
    border-width: 5px;
    background-color: #467C7E;
    color: #f1f1e6;
}
/*============================================================================================================*/
/*webpage sides*/
.right_blinder{
    grid-area: 3/1;
    background-color: #f1f1e6;
    filter: brightness(0.1);
    opacity: 0.5;
    height: 100%;
}
.left_blinder{
    grid-area: 3/3;
    background-color: #f1f1e6;
    filter: brightness(0.1);
    opacity: 0.5;
    height: 100%;
}
/*Centeral Column Content*/
.Grid_Organizer{
    height: 100%;
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-rows: 200px 50px 1fr;
}
.Content_Column{
    grid-area: 3/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
/*Undergrid Opacity for central column*/
.Opacity_Background{
    grid-area: 3/2;
    z-index: -1;
    background-color: antiquewhite;
    min-width: 75%;
    min-height: 100%;
    opacity: 50%;
    filter: brightness(0.5);
}
/*custom page break because <hr/> doesnt work*/
.linebreak{
    border-top: solid #ff8847;
    width: 100%;
    margin: 1%;
}

/*Image resize because the gif files are f**king huge otherwise*/
#image_resize{
    width: 95%;
    height: 90%;
    margin: 0%;
    padding: 0%;
}
/*============================================================================================================*/
.stall{
    height: 10rem;
}
.LOL{
    position: relative;
    top: 4rem;
    margin-top: 200%;
}
/*============================================================================================================*/
@media (max-width: 950px) {
    .Webpage_Banner{
        background-image: url("../Works_Webpage/Animation_Works/Personal_Website_Banner_Mobile.png");
        background-position: center;
    }
}